### Peer-graded assignment - Kuat Kassymbek

##### Introduction

### Exercise 3
Data science languages:
 - Python
 - R
 - SQL
 - Julia
 - SAS
 - Scala
 - MATLAB
 - C/C+
 - etc.

### Exercise 4
Data science libraries:

###### Python libraries:
- TensorFlow.
- NumPy.
- SciPy.
- Pandas.
- Matplotlib.
- Keras.
- SciKit-Learn.
- PyTorch

###### R libraries:
- dplyr
- tidyr
- ggplot2
- tidyverse
- Shiny
- sqldf
- Prophet

### Exercise 5
Data science tools:
 - Rstudio
 - Jupyter notebook
 - Apache spark
 - Watson studio
 - Microsoft Azure machine learning

### Exercise 7
Arithmetic expression examples will be provided below to demonstrate the utility of Jupyter notebook to calculate arithmetic expressions. In particular, in the next exercise 8, multiplication and addition examples will be provided.

### Exercise 8

In [2]:
8+2

10

In [3]:
8*2

16

### Exercise 9

In [5]:
def minutes_to_hours (minute):
    hour = minute // 60
    return hour

In [11]:
print(minutes_to_hours(180))
print(minutes_to_hours(190))
print(minutes_to_hours(120))
print(minutes_to_hours(0))

3
3
2
0

### Exercise 10
This is the introductory sentence for the following list:
- Item A (1)
- Item B (2)
- Item C (3)
- Item D (4)
- Item E (5)
- Item F (6)
- Item G (7)
- Item H (8)
- Item I (9)
- Item J (10)

### Exercise 11
Authorâ€™s name - Kuat Kassymbek